@model LongAnswerQuestion

@Html.HiddenFor(lambda => lambda.ID)
<h2>@Model.Question</h2>
<div>
    @Html.TextAreaFor(lambda => lambda.Answer)
    @Html.ValidationMessageFor(lambda => lambda.Answer)
</div>