@model ShortAnswerQuestion

@Html.HiddenFor(lambda => lambda.ID)
<h2>@Model.Question</h2>
<div>
    @Html.TextBoxFor(lambda => lambda.Answer)
    @Html.ValidationMessageFor(lambda => lambda.Answer)
</div>