@model List<TestQuestion>
@{Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Take Test";}
@section header{}
@section h1{Take Test}

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <button type="submit">Submit</button>
}
@section footer{}
