@model BlogPostModel
@{Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add a New Blog Post";}
@section header{}
@section h1{Add a New Blog Post}

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <button type="submit">Submit</button>
}
@section footer{}