@model List<BlogPost>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Blog Post List";
}
@section header{}
@section h1 {Blog Post List}

@foreach(BlogPost bp in Model)
{
    <div>
        @section h2 {bp.Title}
        @Html.ActionLink("Edit Post", "Edit", new { ID = bp.ID })
    </div>
}
@Html.ActionLink("Add Post", "Add")
@section footer{}