@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";}

@section header{}
@section h1 {<h1>Get Your Blood Pumping!</h1>}
<h2>Get Your Blood Pumping!</h2>
<h3>Get Your Blood Pumping!</h3>
@section footer{}
