@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "VascularScrub";}
<h1 hidden>VascularScrub</h1>
<img src="~/Images/VascularLogo_GreenSAFS.png" width="900" height="200" alt="MainLogo" />
<h2>Get Your Blood Pumping!</h2>
@section header{}
@section footer{}
